.form__button {
    margin: 20px 0 0 0;
    padding: 0;
    width: 176px;
    height: 46px;
    background-color: #DDD7C0;
    color: #000000;
    border: none;
    font-size: 16px;
    line-height: 22.4px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: all .4s linear;
}

@media screen and (min-width: 1440px) {

    .form__button {
        margin: 24px 0 0 0; 
    }

    .form__button:hover {
        background-color: #212529;
        color: #FFFFFF;
    }

}