.form__button {
    margin: 20px 0 0 0;
    padding: 0;
    width: 176px;
    height: 46px;
    background-color: #212529;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    line-height: 22.4px;
    font-family: 'Roboto';
    cursor: pointer;
}

@media screen and (min-width: 1440px) {

    .form__button {
        margin: 24px 0 0 0; 
    }

}