.footer__link-social {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    line-height: 21.09px;
    text-transform: uppercase;
    color: #212529;
    transition: all .4s linear;
}

@media screen and (min-width: 1440px) {

    .footer__link-social:hover {
        transform: scale(1.2);
    }

}