@media screen and (min-width: 1440px) {

    .menu__link_tel {
        margin: 0 0 0 207px;
        font-size: 18px;
        line-height: 21.09px;
        height: 21.09px;
        transition: all .4s linear;
    }

    .menu__link_tel:hover {
        transform: scale(1.2);
    }

}